$brand-color: #fff8f0;
$brand-color-2: #ffd1ae;
$text-color: #6e6e6e;
$border-color: #6e6e6e60;
$progress-color: #e5e5e5;

@font-face {
  font-family: "Red Rose Regular";
  src: local("Red Rose Regular"),
    url("./Font/Red_Rose/RedRose-Regular.woff") format("woff");
}
@font-face {
  font-family: "Red Rose Light";
  src: local("Red Rose Light"),
    url("./Font/Red_Rose/RedRose-Light.woff") format("woff");
}

html {
  margin: 0;
  // overscroll-behavior: none;
  color: $text-color;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  overscroll-behavior: none;
  height: 100%;
  width: 100%;
}

h1 {
  font-family: "Red Rose Regular";
  font-size: 24px;
  font-weight: 400;
}
h2 {
  font-family: "Red Rose Regular";
  font-size: 18px;
  font-weight: 400;
}
p,
span {
  font-family: "Red Rose Light";
  font-size: 14px;
  color: $text-color;
  pointer-events: none;
}
a {
  color: $text-color;
  text-decoration: none;
}
svg {
  overflow: visible;
}
.page-transition-element {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: $brand-color-2;
  z-index: 990;
}
.loader-container {
  position: relative;
  height: 50vh;
  width: 50vw;
  margin: auto;
  .page-loader {
    position: absolute;
    height: 0;
    padding-top: 50%;
    border: 1px solid tomato;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 500px) {
  //NAVBAR SECTION
  .navbar-container {
    width: 100%;
    .background {
      position: absolute;
      height: 100vh;
      width: 100vw;
      z-index: 99;
      background-color: rgba(0, 0, 0, 0.4);
    }
    .navbar-section {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      z-index: 999;
      background-color: white;

      .navbar-header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 80px;
        border-bottom: 1px solid $border-color;
        background-color: white;

        .menu-section {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          width: 50px;
          margin: 10px;
          cursor: pointer;
        }

        .title-container {
          display: flex;
          overflow: hidden;
          margin: auto;
          span {
            font-family: "Red Rose Regular";
            font-weight: 400;
            font-size: 24px;
          }
        }

        .signature-section {
          margin: 30px 10px 10px auto;
        }
        .info-icon {
          width: 50px;
          height: 50px;
          overflow: hidden;
          display: flex;
          margin: 0 15px 0 0;
        }
        .info-help-section {
          position: absolute;
          display: flex;
          flex-direction: column;
          width: 100%;
          top: 0;
          left: 0;
          background-color: $brand-color;
          box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
          .counter {
            position: absolute;
            top: 10%;
            left: 90%;
          }
          .swipe-info {
            display: flex;
            margin: 12px auto;
          }
          .tap-info {
            display: flex;
            margin: 12px auto;
          }
          p {
            display: inline-block;
            margin: auto 30px;
          }
        }
        svg {
          margin: auto;
        }
        .menu-icon {
          width: 50px;
          height: auto;
          display: flex;
          margin: 0 15px 0 0;
          overflow: hidden;
          img {
            width: 80%;
            height: auto;
            margin: 0 auto;
          }
        }
      }

      .menu-items {
        position: absolute;
        top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        background-color: white;
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        border-radius: 0 0 10px 10px;
        z-index: 10000;

        .menu-item-container {
          display: flex;
          margin: 0 auto;
          align-items: center;
          border-bottom: 1px solid $border-color;
          width: 85%;

          .menu-item {
            margin: 10px 15px 10px 5px;
            height: 40px;
            width: 40px;
            display: flex;
          }
          img {
            width: 80%;
            height: auto;
            margin: auto;
          }
          h2 {
            margin: 0 0 0 25px;
          }
        }
      }
    }
  }
  //HOME PAGE
  .home-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    .primary-button {
      background: none;
      outline: none;
      border: none;

      span {
        font-family: "Red Rose Regular";
        font-size: 18px;
      }
    }

    .button-section {
      position: relative;
      margin: 0 65px 0 auto;
      width: 120px;
      height: 30px;
      flex-shrink: 0;
      z-index: 2;
      .button-container {
        position: absolute;
        display: flex;
        align-items: center;
        * {
          flex-shrink: 0;
        }
      }
    }
    .home-content {
      width: 100%;
      .cover-image {
        width: 100%;
        height: 680px;
        margin-bottom: 15px;
        overflow: hidden;
        position: relative;
        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background: linear-gradient(
            to top,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.9)
          );
        }
        img {
          position: absolute;
          width: 260%;
          height: auto;
          left: -100%;
        }
      }
      .introduction-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 80vh;
        text-align: center;
        h1 {
          font-size: 34px;
          margin: 30px 0;
        }
        h2,
        p {
          margin: 20px 15px;
          line-height: 1.6;
        }
        img {
          width: 25vw;
          height: auto;
          margin: 50px auto 0 auto;
        }
        .scroll-for-more {
          display: flex;
          flex-direction: column;
          margin-top: 40px;
          p,
          svg {
            margin: 10px auto;
          }
        }
      }
      .home-projects-section {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        .projects-icon {
          width: 60px;

          margin: 100px auto 20px auto;
        }
        a {
          margin: 0 auto;
          .link-button {
            margin: 10px;
            border: none;
            outline: none;
            background: none;
            color: $text-color;
            span {
              font-family: "Red Rose Regular";
              font-size: 20px;
            }
          }
        }
      }
      .footer {
        margin: 100px 0 0 0;
      }
    }
  }
  //SHARED LAYOUTS
  .description-background {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), white);
  }

  .project-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $border-color;
    position: relative;
    flex-shrink: 0;
    overflow: hidden;

    .preview-background {
      background-color: white;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      z-index: 1;
    }
    .text-container {
      margin: 15px 15px 0 15px;
      z-index: 2;
      flex-shrink: 0;
    }
    .primary-button {
      background: none;
      outline: none;
      border: none;

      span {
        font-family: "Red Rose Regular";
        font-size: 16px;
      }
    }
    .button-section {
      position: relative;
      margin: 0 65px 0 auto;
      width: 130px;
      height: 30px;
      flex-shrink: 0;
      z-index: 2;
      margin: 0 15px 0 auto;

      .button-container {
        position: absolute;
        display: flex;
        align-items: center;
      }
    }
    .project-slider {
      position: relative;
      display: flex;
      flex-shrink: 0;
      flex-grow: 0;
      margin: 0 0 0 15px;
      width: 100%;
      height: 59%;
      .slider-container {
        position: absolute;
        display: flex;
        overflow: auto;
        scroll-snap-type: x proximity;
        width: 100%;
        height: 100%;
        z-index: 2;
      }

      .image-container {
        margin: 20px 20px 0 20px;
        // width: 270px;
        flex-shrink: 0;
        .image-layout {
          position: relative;
          width: 100%;
          height: 0;
          padding-top: calc(9 / 13 * 100%);
          border-radius: 20px;
          box-shadow: 4px 6px 16px rgba(0, 0, 0, 0.3);
          overflow: hidden;
          img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }
      }
    }
    .project-description {
      margin: 0 15px 0 15px;
      z-index: 2;
      position: relative;
      display: flex;
      flex-direction: column;

      .description-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0.2),
          rgba(255, 255, 255, 1)
        );
        pointer-events: none;
      }
      .description-title {
        display: flex;
        align-items: center;
        height: 30%;
        max-height: 70px;
        min-height: 50px;
        flex-shrink: 0;
        h2 {
          font-size: 20px;
          margin: 0 15px 0 0;
          align-self: flex-start;
        }
        .info-container {
          display: flex;
          align-self: flex-end;
          margin: 0 10px 0 auto;
          width: 150px;
          overflow: hidden;
          .button-container {
            display: flex;
            button {
              position: relative;
              width: 140px;
              height: 30px;
              margin: auto;

              span {
                width: 100%;
                position: absolute;
                left: 0;
                top: 10%;
              }
            }
          }

          p {
            margin: 0 10px 0 0;
            align-self: flex-end;
          }
          svg {
            align-self: flex-end;
            margin: auto 0;
            path {
              transform-origin: 50% 50%;
            }
          }
        }
      }
      .description {
        overflow: auto;
        max-height: 350px;
        flex-shrink: 0;
        margin: 15px 0 0 0;
        p {
          line-height: 1.6;
          margin: 0;
        }
      }
    }
  }
  //PROJECTS PAGE
  .projects-page {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    .bring-forward {
      z-index: 1001;
    }

    .projects-content {
      width: 100%;
      .intro-to-projects {
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        .image-container {
          position: relative;
          margin-top: auto;
          height: 0;
          width: 100%;
          padding-top: calc(366 / 375 * 100%);
          overflow: hidden;
          img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
          }
          .scroll-container {
            position: absolute;
            display: flex;
            flex-direction: column;
            bottom: 10%;
            justify-content: center;
            align-items: center;
            left: 50%;
            transform: translateX(-50%);
            p {
              width: fit-content;
              margin: 10px auto;
              color: white;
            }
            svg {
              display: block;
              margin: 0 auto;
            }
          }
        }
        p {
          margin: 60px 20px 20px 20px;
        }
      }
      .fixed {
        position: fixed;
      }
    }
  }
  //SKILLS PAGE
  .skills-page {
    .skills-content {
      display: flex;
      flex-direction: column;
      .skills-text {
        margin: 22px;
        text-align: center;
        span {
          font-family: "Red Rose Regular";
        }
      }
      .skills-info {
        display: flex;
        margin: 10px 22px;
        justify-content: center;
        .row {
          display: flex;

          svg {
            overflow: visible;
          }
          p {
            margin: 0 10px;
          }
        }
      }
      .skills-section {
        display: flex;
        justify-content: center;
        margin: 0 15px;
        .column {
          display: flex;
          flex-direction: column;
          width: 70%;
          .skill-container {
            margin: 10px 0;
            h2 {
              font-size: 24px;
            }
            .skill-list-container {
              .skill-row {
                display: flex;
                margin: 10px 0;
                width: 100%;
                * {
                  margin: 0 10px;
                }
                .level-icon {
                  margin-left: auto;
                  svg {
                    overflow: visible;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  //CONTACTS PAGE
  .contact-content {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    .info-container {
      margin: 0 20px;
      text-align: center;
      height: 70%;
      .text-aligner {
        margin: 40px 0 40px 0;
        p {
          line-height: 1.6;
        }
      }
      .signature {
        margin: 100px 0 40px 0;
        height: 15%;
        img {
          height: 100%;
        }
      }
      .email-container {
        display: flex;
        width: 100%;
      }
      .phone-container {
        display: flex;
        width: 100%;
        margin-top: auto;
      }
      img {
        margin: 0 40px;
      }
    }

    .image-container {
      position: relative;
      margin-top: auto;
      height: 0;
      padding-top: calc(9 / 13 * 100%);
      overflow: hidden;
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
        width: 100%;
        height: 100%;
        z-index: 2;
      }
      img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}
//DESKTOP VIEW
@media (min-width: 501px) {
  .home-page {
    width: 100vw;
    height: 100vh;
    .content {
      display: flex;
      height: 90vh;
      .text-column {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .text-container {
          overflow: hidden;
          width: 100%;
          margin: 150px 0 40px 110px;
          .animation-container {
            overflow: hidden;
            &:nth-of-type(1) {
              h1 {
                margin-bottom: 0;
              }
            }
            &:nth-of-type(4) {
              margin-top: 20px;
            }
            h1 {
              font-size: 48px;
              margin-top: 0;
            }
            h2 {
              margin-top: 0;
              margin-bottom: 0;
            }
          }

          p {
            line-height: 1.6;
            margin: 0;
          }
        }
      }
      .button-container {
        margin: 0 auto;
        width: 34%;
        height: 55px;
        min-width: 120px;
        position: relative;
        .button {
          top: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: $brand-color;
          overflow: hidden;
          border-radius: 10px;
          z-index: 2;

          button {
            width: 100%;
            height: 100%;
            outline: none;
            border: none;
            background: none;
            cursor: pointer;
          }
        }
        .shadow {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          background-color: $brand-color-2;
          box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.3);
        }
      }
      .visual-column {
        position: relative;
        margin: 0 50px 0 auto;
        width: 44%;
        height: 100%;
        display: flex;
        .circle-container {
          position: relative;
          width: 100%;
          height: 0;
          padding-top: 100%;
          margin: auto;
          display: flex;
          .circle-1 {
            position: absolute;
            top: -1%;
            bottom: 0;
            left: -2%;
            right: 0;
            transform-origin: 51% 51%;
            background-color: $brand-color-2;
            border-radius: 50%;
          }
          .circle-2 {
            margin: auto;
            position: absolute;
            display: flex;
            top: 2%;
            bottom: 2%;
            left: 2%;
            right: 2%;
            background-color: $brand-color;
            transform-origin: 50% 50%;
            overflow: hidden;
            border-radius: 50%;
            .circle-2-interior {
              margin: auto;
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
              height: 80%;
              width: 100%;
            }
            .image-container {
              position: relative;
              flex-shrink: 0;
              width: 30%;
              padding-top: 20%;
              margin: 10px;
              border-radius: 5px;
              box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.3);
              overflow: hidden;
              img {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
  .navbar-desktop {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    .icon-container {
      overflow: hidden;
      width: 5%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .menu-icon {
        position: relative;
        width: 100%;
        padding-top: 100%;
        height: 0;

        img {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 50%;
          margin: auto;
        }
      }
    }

    .menu-title {
      margin: 20px 20px;
      .title-container {
        span {
          font-family: "Red Rose Regular";
          font-size: 30px;
        }
      }
    }
    .menu-items {
      display: flex;
      margin: 20px 20px 20px auto;
      * {
        margin: 0 10px;
      }
    }
  }
  .projects {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    .project-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      overflow: hidden;

      .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 4;
        display: flex;
        .background {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          // background: linear-gradient(
          //   to bottom,
          //   $brand-color,
          //   #fff8f081,
          //   $brand-color
          // );
          background-color: #fff8f0f3;
          pointer-events: none;
          z-index: 3;
        }
        .content-container {
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          .visual-content {
            display: flex;
            height: 80%;
            position: relative;

            .modal-slider {
              position: relative;
              width: 60%;
              display: block;
              margin: 50px auto;
              .image-container {
                position: absolute;
                width: 100%;
                overflow: hidden;
                padding-top: calc(9 / 13 * 100%);
                border-radius: 5px;
                height: 0;
                z-index: 4;
                box-shadow: 8px 8px 36px rgba(0, 0, 0, 0.4);
                img {
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  width: 100%;
                  object-fit: contain;
                }
              }
            }
          }
          .function-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10%;
            z-index: 4;
            margin: auto auto 0 auto;
            a {
              width: 100px;
              z-index: 5;
              font-size: 1.8rem;
              text-align: center;
              cursor: pointer;
              font-family: "Red Rose Regular";
              &:hover {
                background-color: #ffd1ae50;
              }
            }
            button {
              position: relative;
              width: 100px;
              cursor: pointer;
              font-size: 1.6rem;
              padding: 0;
              outline: none;
              border: none;
              background: none;
              color: $text-color;
              z-index: 5;
              font-family: "Red Rose Regular";
              &:hover {
                background-color: #ffd1ae50;
              }
            }
          }
        }
      }

      .button-container {
        position: absolute;
        right: 5%;
        top: 5%;

        display: flex;
        align-items: center;
        button {
          background: none;
          margin: 0 20px 0 auto;
          outline: none;
          border: none;
          font-family: "Red Rose Regular";
          font-size: 16px;
          color: $text-color;
          cursor: pointer;
        }
      }
      .paragraph-container {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff8f0ee;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        text-align: center;
        z-index: 5;
        h2 {
          margin: 50px 0 30px 0;
          font-size: 32px;
        }
        p {
          line-height: 1.6;
          margin: 0 50px;
        }
      }
      .text-container {
        display: block;
        margin: 20px 50px 10px 50px;
        width: 100%;
        .introduction {
          // width: 50%;
          display: inline-block;
          span {
            display: block;
            overflow: hidden;
            margin: 10px 0;
            h1 {
              margin: 0;
            }
            p {
              margin: 0;
            }
          }
        }
      }
      .slider-container {
        position: relative;
        display: flex;
        border-bottom: 1px solid $border-color;
        padding: 0 0 20px 0;
        a {
          position: absolute;
          text-decoration: none;
          width: 5%;
          padding: 2.5% 0;
          z-index: 2;
          font-size: 2rem;
          text-align: center;
          line-height: 77px;
          cursor: pointer;
          font-family: "Red Rose Regular";

          &:nth-of-type(1) {
            background: linear-gradient(
              to left,
              rgba(255, 255, 255, 0.4),
              rgba(255, 255, 255, 1)
            );
            top: 0;
            bottom: 0;
            left: 0;
          }
          &:nth-of-type(2) {
            background: linear-gradient(
              to right,
              rgba(255, 255, 255, 0.4),
              rgba(255, 255, 255, 1)
            );
            top: 0;
            bottom: 0;
            right: 0;
          }
          &:hover {
            background-color: rgba(255, 255, 255, 0.5);
            // box-shadow: 4px 0 12px rgba(255, 255, 255, 0.7);
          }
        }
        .slider-mask {
          flex-shrink: 0;
          display: inline-block;
          width: 90%;
          &:nth-of-type(1) {
            padding-left: 5%;
          }
          .card {
            position: relative;
            box-sizing: border-box;
            display: inline-block;
            padding: 0 0.5%;
            .slider-image-container {
              position: relative;

              height: 0;
              padding-top: calc(2 / 3 * 100%);
              overflow: hidden;
              border-radius: 5px;
              box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
              .slider-image {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
  .skills {
    width: 100vw;
    height: 100vh;
    .skills-content {
      display: flex;
      height: 90%;
      .text-content {
        width: 40%;
        margin: 150px 0 auto 50px;
        .animation-container {
          display: inline-block;
          overflow: hidden;
          margin: 5px 0;
        }
        h1 {
          font-size: 60px;
          margin: 0;
        }
        p {
          line-height: 1.6;
          margin: 0;
          span {
            font-family: "Red Rose Regular";
          }
        }
      }
      .visual-content {
        position: relative;
        margin: 0 50px 0 auto;
        width: 44%;
        height: 100%;
        display: flex;
        .circle-container {
          position: relative;
          width: 100%;
          height: 0;
          padding-top: 100%;
          margin: auto;
          display: flex;
          .circle-1 {
            position: absolute;
            top: -1%;
            bottom: 0;
            left: -1%;
            right: 0;
            transform-origin: 51% 51%;
            background-color: $brand-color-2;
            border-radius: 50%;
          }
          .circle-2 {
            margin: auto;
            position: absolute;
            display: flex;
            top: 2%;
            bottom: 2%;
            left: 2%;
            right: 2%;

            background-color: $brand-color;
            transform-origin: 50% 50%;
            overflow: hidden;
            border-radius: 50%;
            .circle-2-interior {
              margin: auto;
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
              height: 80%;
              width: 100%;
              .skills-row {
                width: 90%;
                margin: 30px 0 0 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .column {
                  margin: 0 20px;
                  width: 30%;
                  &:nth-of-type(1) {
                    div:nth-child(2) {
                      margin: 50px 0 0 0;
                    }
                  }
                  h2 {
                    margin: 10px 0;
                  }
                  ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li {
                      width: 100%;
                      display: flex;
                      align-items: center;
                      img {
                        margin: 0 20px;
                      }
                      p {
                        margin: 5px 0;
                      }
                      .level-icon {
                        margin: 0 0 0 auto;
                      }
                    }
                  }
                }
              }
              .info-row {
                display: flex;

                width: 100%;
                margin-top: auto;

                img {
                  margin-left: 30%;
                }
                .information {
                  // display: flex;
                  margin: 0 40px;
                  div {
                    display: flex;
                    margin: 5px 0;
                    p {
                      margin: 0 40px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .contact {
    width: 100vw;
    height: 100vh;
    .visual-column {
      width: 44%;
      margin: auto;
      .circle-container {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 100%;
        margin: auto;
        display: flex;
        .circle-1 {
          position: absolute;
          top: -1%;
          bottom: 0;
          left: -1%;
          right: 0;
          transform-origin: 51% 51%;
          background-color: $brand-color-2;
          border-radius: 50%;
        }
        .circle-2 {
          margin: auto;
          position: absolute;
          display: flex;
          top: 2%;
          bottom: 2%;
          left: 2%;
          right: 2%;

          background-color: $brand-color;
          transform-origin: 50% 50%;
          overflow: hidden;
          border-radius: 50%;
          .circle-2-interior {
            margin: auto;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            .contact-content {
              width: 80%;
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-top: 5%;

              h1 {
                font-size: 46px;
                margin: 10% 0 10% 0;
              }
              p {
                text-align: center;
                margin: 5px auto;
                line-height: 1.6;
              }
              div {
                display: flex;
                margin: 5px 0;
                width: 100%;
                &:nth-of-type(1) {
                  margin: 10% 0 0 0;
                }
                img {
                  margin: 0 0 0 30%;
                }
                p {
                  margin: 0 0 0 10%;
                }
              }
            }
            .signature-section {
              margin: auto auto 40px auto;
              position: relative;
              width: 15%;
              height: 0;
              padding-top: 15%;
              svg {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}

.landscape {
  position: absolute;
  width: 100vw;
  height: 80vh;
  margin: auto;
  display: flex;
  transform: translateY(-50%);
  top: 50%;

  .landscape-text {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    * {
      width: 90%;
      margin: 10px auto;
      display: inline-block;
    }
  }
  .landscape-visual {
    position: relative;
    width: 40%;
    height: 100%;
    margin: auto;
    .phone-container {
      position: relative;
      padding-top: 80%;
      width: 100%;
      height: 0;
      .phone {
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        svg {
          width: 30%;
          height: auto;
        }
      }
    }
  }
}
//ADDITIONALS
.no-scroll {
  overflow: hidden !important;
}
.scroll {
  overflow: auto;
}
.freeze {
  pointer-events: none;
}
.behind {
  z-index: 0;
}
